<h1 style="font-size:3rem;color:orange;"> Problem Set 2 - Solutions</h1>

<h1 style="font-size:2.5rem;color:green;"> Priyanshu Singla - 200522518 - Sction 4</h1>

### Question 1 - What value is displayed when the last expresion (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
print(a)

6

##### We can see that the value of "a" displayed is 6.
##### Explanation - Initially when we executed the function b() for the first time, value of "a" was 0, since we defined it as global variable. After that when the function goes inside function c(a), it will return 0+2=2 which referes to the value of "a" in function b(). So now when we execute function b() for the second time, it will take value of "a" as 2 so, now after executing function c(a), this time it will return value 4. Similarly on executing third time, function c(a) will return 6. That's why we are getting output of 6 for variable a.

### Question 2

In [6]:
def fileLength(python_file):
    op_file = open(python_file)
    rd_file = op_file.read()
    op_file.close()
    print(len(rd_file))
    
fileLength("midterm.py")
fileLength("idterm.py")

1097

FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'

In [7]:
def fileLength(python_file):
    try:
        op_file = open(python_file)
        rd_file = op_file.read()
        op_file.close()
        print(len(rd_file))

    except FileNotFoundError:
        print("File " + python_file + " not found.")

fileLength("midterm.py")
fileLength("idterm.py")

1097
File idterm.py not found.

### Question 3 - Write a class named Marsupial that can be used as shown below:
### Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and does other things as well.

In [8]:
class Marsupial:
    def __init__(self):
        "creating empty list"
        self.pouch = []

    def put_in_pouch(self, val):
        self.pouch.append(val)

    def pouch_contents(self):
        print(self.pouch)

In [9]:
m = Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [10]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        "importing all functions from it's parent class Marsupial"
        super().__init__()
        self.coordx = x
        self.coordy = y

    def jump(self, dx, dy):
        self.coordx = self.coordx + dx
        self.coordy = self.coordy + dy

    def __str__(self):
        print("I am a Kangaroo located at coordinates (%d, %d)" %(self.coordx, self.coordy))
        return ""

In [11]:
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0, 0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

### Question 4

In [12]:
initiator = "initiated"
def collatz(int_num):
    if int_num == 1:
        print(1)
    else:
        global initiator
        if initiator == "initiated":
            initiator = "not initiated"
            print(int_num)
            collatz(int_num)
        else:
            if int_num != 1:
                if int_num % 2 == 0:
                    int_num = int_num / 2
                    if int_num != 1:
                        print(int(int_num))
                    collatz(int_num)
                else:
                    int_num = 3 * int_num + 1
                    print(int(int_num))
                    collatz(int_num)

In [13]:
collatz(1)

1

In [14]:
collatz(10)

10
5
16
8
4
2
1

### Question 5

In [15]:
def binary(input_binary):
    if input_binary < 0:
        return "Please insert positive value"
    if input_binary == 0:
        return 0
    else:
        return (input_binary % 2 + 10 * binary(int(input_binary/2)))

In [16]:
binary(-22)

'Please insert positive value'

In [17]:
binary(0)

0

In [18]:
binary(1)

1

In [19]:
binary(3)

11

In [20]:
binary(9)

1001

### Question 6

In [21]:
import re          
from html.parser import HTMLParser
infile = open('w3c.html') 
content = infile.read() 
infile.close()

class HeadingParser(HTMLParser):

    def handle_starttag(self, tag, attrs):
        global val
        match = re.match(r'h(\d)', tag, re.I) 
        if match: val = int(match.group(1))
            
    def handle_endtag(self, tag):
        match = re.match(r'h(\d)', tag, re.I)
        if match: val = 0

    def handle_data(self, data):
        if val > 0:
            tab = val - 1
            out = " "*tab
            print(out+data)
            
val = 0
hp = HeadingParser()
hp.feed(content)

W3C Mission


 Principles

### Question 7

In [22]:
import requests
from bs4 import BeautifulSoup   

def webdir(url, depth, indent):
    resp = requests.get(url)
    print(url)
    if(depth == indent):
        return
    soup = BeautifulSoup(resp.text, 'html.parser')  
    for link in soup.findAll('a'):
        new_link = link.get('href')
        if(new_link.startswith('https')):
            webdir(new_link, depth, indent+1)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

# link is giving Error 404

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

### Question 8

In [23]:
import sqlite3
con = sqlite3.connect("weather.db")

In [24]:
cur = con.cursor()
cur.execute("create table WEATHER (City text, Country text, Season text, Temperature float, Rainfall float)")

weather_list = [
    ("Mumbai", "India", "Winter", 24.8, 5.9),
    ("Mumbai", "India", "Spring", 28.4, 16.2),
    ("Mumbai", "India", "Summer", 27.9, 1549.4),
    ("Mumbai", "India", "Fall", 27.6, 346.0),
    ("London", "United Kingdom", "Winter", 4.2, 207.7),
    ("London", "United Kingdom", "Spring", 8.3, 169.6),
    ("London", "United Kingdom", "Summer", 15.7, 157.0),
    ("London", "United Kingdom", "Fall", 10.4, 218.5),
    ("Cairo", "Egypt", "Winter", 13.6, 16.5),
    ("Cairo", "Egypt", "Spring", 20.7, 6.5),
    ("Cairo", "Egypt", "Summer", 27.7, 0.1),
    ("Cairo", "Egypt", "Fall", 22.2, 4.5)
]

cur.executemany("insert into WEATHER values (?, ?, ?, ?, ?)", weather_list)
con.commit()

#### a) All the temperature data

In [25]:
cur.execute("select Temperature from WEATHER")
print(cur.fetchall())

# for t in cur:
#     print(t)

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

#### b) All the cities, but without repetition

In [26]:
cur.execute("select distinct City from WEATHER")
print(cur.fetchall())

# for c in cur:
#     print(c)

[('Mumbai',), ('London',), ('Cairo',)]

#### c) All the records for India

In [27]:
cur.execute("select * from WEATHER where Country='India'")
for ind in cur:
    print(ind)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

#### d) All the fall records

In [28]:
cur.execute("select * from WEATHER where Season='Fall'")
for fall in cur:
    print(fall)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [29]:
cur.execute("select  City, Country, Season, AVG(Rainfall) from WEATHER group by Rainfall having avg(Rainfall) between 200 and 400;")
for avg in cur:
    print(avg)

('London', 'United Kingdom', 'Winter', 207.7)
('London', 'United Kingdom', 'Fall', 218.5)
('Mumbai', 'India', 'Fall', 346.0)

#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [30]:
cur.execute("select City, Country, avg(Temperature) from WEATHER where Season = 'Fall' group by Temperature having avg(Temperature) > 20")
for avg in cur:
    print(avg)

('Cairo', 'Egypt', 22.2)
('Mumbai', 'India', 27.6)

#### g) The total annual rainfall for Cairo.

In [31]:
cur.execute("select City, sum(Rainfall) from WEATHER where City='Cairo'")
for rain in cur:
    print(rain)

('Cairo', 27.6)

#### h) The total rainfall for each season.

In [32]:
cur.execute("select Season, sum(Rainfall) from WEATHER group by Season")
for rain in cur:
    print(rain)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

### Question 9

In [33]:
words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]

#### a) Upper Case

In [34]:
upper_words = []
for val in words:
    upper_val = val.upper()
    upper_words.append(upper_val)

print(upper_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### Lower Case

In [35]:
lower_words = []
for val in words:
    lower_val = val.lower()
    lower_words.append(lower_val)

print(lower_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### c) The list of length of words in list words

In [36]:
length_words = []
for val in words:
    length_words.append(len(val))     
print(length_words)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### d) the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word

In [37]:
count = 0
single_lst = []
    
for val in words:
    single_lst.append(upper_words[count])
    single_lst.append(lower_words[count])
    single_lst.append(length_words[count])
    count += 1

var = 3
final_lst = [single_lst[x:x+var] for x in range(0, len(single_lst), var)]

print(final_lst)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### e) the list of words in list words containing 4 or more characters

In [38]:
words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]
count_4_lst = []
for val in words:
    count = 0
    if len(val) >= 4:
        count_4_lst.append(val)
    count = count + 1
print(count_4_lst)

['quick', 'brown', 'jumps', 'over', 'lazy']